<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <display-name>Apache-AxisServlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
    <init-param>
      <param-name>axis2.xml.path</param-name>
      <param-value>/WEB-INF/conf/axis2.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>处理支付宝通知</description>
    <display-name>paySrv</display-name>
    <servlet-name>paySrv</servlet-name>
    <servlet-class>com.ljt.ds.service.PaySrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paySrv</servlet-name>
    <url-pattern>/paySrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>configSrv</display-name>
    <servlet-name>configSrv</servlet-name>
    <servlet-class>com.ljt.ds.service.ConfigSrv</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>configSrv</servlet-name>
    <url-pattern>/configSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XiaoNeng</display-name>
    <servlet-name>XiaoNeng</servlet-name>
    <servlet-class>com.ljt.ds.service.impl.XiaoNeng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XiaoNeng</servlet-name>
    <url-pattern>/xiaoneng</url-pattern>
  </servlet-mapping>
</web-app>